$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;


$primary-color: #466543;
$primary-color-hover: #2c4b29;
$secondary-color: #6c757d;
$font-size-base: 1rem;
$container-width: 1140px;