$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Playfair Display', serif;

$color-primary: #466543;
$color-primary-hover: #2c4b29;
$color-secondary: #6c757d;


$font-size-base: 1rem;
$container-width: 1140px;